*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(fondo1.jpg);
    

}
nav{
    height: 50px;
    background-color: #080808;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Condensed", sans-serif;

}
a{
    text-decoration: none;
    color: white;
    padding: 16px 35px;
    
}
#presentacion{
    color: white;
    height: 565px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto Condensed", sans-serif;
}
#presentacion h1{
    font-size: 70px;
    margin-bottom: 20px;
}
#presentacion p{
    font-size: 20px
}
#sobreMi{
    
    color: white;
    height: 632px;
    display: flex;
    flex-direction: row;
    background-image: url(fondo1.jpg);
    
}
#sobreMi #imagen-sobreMi{
    border-right: 1px solid;
    width: 50%;
    height: 100%;
    
    
}
#sobreMi #informacion-sobreMi{
    width: 50%;
    height: 100%;
    border-right: solid 0.5px ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     
}
#sobreMi #informacion-sobreMi p{
    font-size: 20px;
    margin: 15px;
}

#sobreMi #informacion-sobreMi h1{
    margin-bottom: 30px;
}
#Habilidades{
    height: 632px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Kanit", sans-serif;
}
#Habilidades #habilidades-contenido{
    border: solid white;
    width: 80%;
    height: 80%;
    border-radius: 8px;
    background-color: #9F34B5;
    color: hsl(0, 0%, 100%);
    
}
#Habilidades #habilidades-contenido h1{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-family: "Kanit", sans-serif;
}
#Habilidades #habilidades-contenido #contenedor-habilidades{
    display: flex;
    justify-content: center;

}
#Habilidades #habilidades-contenido #contenedor-habilidades p{
    margin: 50px 80px 0 80px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    text-align: center;
}
#Habilidades #habilidades-contenido #contenedor-habilidades p button{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
    margin-top: 50px;
    background-color: black;
}
#Habilidades #habilidades-contenido #contenedor-habilidades p #javascript{
    margin-left: 20px;
}
#Habilidades #habilidades-contenido #contenedor-habilidades p #git{
    margin-left: 10px;
}
#Habilidades #habilidades-contenido #contenedor-habilidades p button img{
    height: 35px;
    width: 60px;
}
#Habilidades #habilidades-contenido #contenedor-habilidades p button #javascript-logo{
    width: 40px;
}
#Habilidades #habilidades-contenido #contenedor-habilidades p button #git-logo{
    width: 40px;
}
#Experiencia{
    height: 832px;
    background-image: url(fondo1.jpg);
    color: white;
    border-top: 1px solid;
    
}
#Experiencia #fila1{
    height: 230px;
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#Experiencia h1{
    text-align: center;
    margin-top: 130px;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#Experiencia #fila2{
    height: 230px;
    margin-top: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#Experiencia #fila1 div{
    border: 4px solid rgb(255, 219, 121);
    width: 250px;
    height: 100%;
    border-radius: 8px 0 0 8px;
    background-color: #9F34B5;
    
}
#Experiencia #fila1 div h1{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
#Experiencia #fila1 div p{
    margin-top: 25px;
    text-align: center;
}
#Experiencia #fila2 div{
    border: 4px solid rgb(255, 219, 121);
    width: 250px;
    height: 100%;
    border-radius: 8px 0 0 8px;
    background-color: #9F34B5;
}
#Experiencia #fila2 div h1{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
#Experiencia #fila2 div p{
    margin-top: 25px;
    text-align: center;
}
