*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#contenedor{
    display: flex;
    justify-content: center;
    border-color: aliceblue;
}
#contenido{
    
    border: solid 1px;
    padding: 30px 20px;
}
#contenedor2{
    display: flex;
    justify-content: center;
    border-color: aliceblue;
}
#contenido2{
    margin-top: 100px;
    border: solid 1px;
    padding: 30px 20px;
}